@font-face {
  font-family: 'Enriqueta';
  font-style: normal;
  font-weight: 700;
  src: local('Enriqueta-Bold'), url(http://themes.googleusercontent.com/static/fonts/enriqueta/v2/I27Pb-wEGH2ajLYP0QrtSKRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Enriqueta';
  font-style: normal;
  font-weight: 400;
  src: local('Enriqueta-Regular'), url(http://themes.googleusercontent.com/static/fonts/enriqueta/v2/-KTKVm0Mx9ZCRXL9CXVIbbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}
